@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.whatweSolve{
  background-image: url('./assets/images/banner-4.jpg');
}
@keyframes fadeIn { 
  from { opacity: 0; } 
}

.fade {
 
  color: #2063fc;
  text-align: center;
  
  animation: fadeIn 2s infinite alternate;
}