@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.whatweSolve {
  background-image: url("./assets/images/banner-4.jpg");
}

@keyframes fadeInimg {
  from {
    opacity: 0.3;
  }
}

.fadeimg {
  animation: fadeInimg 2s infinite alternate;
}

@keyframes fadeIn {
  from {
    color: white;
  }
  to {
    color: #2063fc;
  }
}

.fade {
  color: #2063fc;
  text-align: center;

  animation: fadeIn 1s infinite alternate;
}



.widget::before {
    position: absolute;
    content: "";
    right: -160%;
    top: -160%;
    width: 155px;
    height: 155px;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(0deg, rgb(60, 114, 252) 0%, rgb(38, 64, 141) 57%, rgb(15, 13, 29) 100%);
    background-image: -moz-linear-gradient(0deg, rgb(60, 114, 252) 0%, rgb(38, 64, 141) 57%, rgb(15, 13, 29) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(60, 114, 252) 0%, rgb(38, 64, 141) 57%, rgb(15, 13, 29) 100%);
    background-image: -o-linear-gradient(0deg, rgb(60, 114, 252) 0%, rgb(38, 64, 141) 57%, rgb(15, 13, 29) 100%);
    background-image: linear-gradient(0deg, rgb(60, 114, 252) 0%, rgb(38, 64, 141) 57%, rgb(15, 13, 29) 100%);
    opacity: 0.06;
    z-index: -1;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}