@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.whatweSolve {
  background-image: url("./assets/images/banner-4.jpg");
}

@keyframes fadeInimg {
  from {
    opacity: 0.3;
  }
}

.fadeimg {
  animation: fadeInimg 2s infinite alternate;
}

@keyframes fadeIn {
  from {
    color: white;
  }
  to {
    color: #2063fc;
  }
}

.fade {
  color: #2063fc;
  text-align: center;

  animation: fadeIn 1s infinite alternate;
}

.widget::before {
  position: absolute;
  content: "";
  right: -160%;
  top: -160%;
  width: 155px;
  height: 155px;
  border-radius: 50%;
  background-image: -webkit-linear-gradient(
    0deg,
    rgb(60, 114, 252) 0%,
    rgb(38, 64, 141) 57%,
    rgb(15, 13, 29) 100%
  );
  background-image: -moz-linear-gradient(
    0deg,
    rgb(60, 114, 252) 0%,
    rgb(38, 64, 141) 57%,
    rgb(15, 13, 29) 100%
  );
  background-image: -ms-linear-gradient(
    0deg,
    rgb(60, 114, 252) 0%,
    rgb(38, 64, 141) 57%,
    rgb(15, 13, 29) 100%
  );
  background-image: -o-linear-gradient(
    0deg,
    rgb(60, 114, 252) 0%,
    rgb(38, 64, 141) 57%,
    rgb(15, 13, 29) 100%
  );
  background-image: linear-gradient(
    0deg,
    rgb(60, 114, 252) 0%,
    rgb(38, 64, 141) 57%,
    rgb(15, 13, 29) 100%
  );
  opacity: 0.06;
  z-index: -1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.tech_bg {
  background-image: url("./assets/images/tech-bg-1.jpg");
  background-position: center;
  background-position: center;
  background-size: cover;
}

/* // main top   */
.main-top-banner {
  background-image: url("https://images.unsplash.com/photo-1623479322729-28b25c16b011?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D/assets/images/bg-page-title.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 100%;
}
.count-banner {
  background-image: url("./assets/images/counter.jpg");
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* height: 70vh; */
  width: 100%;
}

.businessGrowth {
  background-image: url("./assets/images/feature-about-bg.jpg");
}

.whatweoffer {
  background-image: url("./assets/images/offer-bg-1.jpg");
}

/* // partners slider  */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 20));
  }
}

.slider {
  height: 200px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.slide-track {
  animation: scroll 80s linear infinite;
  display: flex;
  width: calc(250px * 186);
}
.slide {
  height: 400px;
  width: 250px;
}
.slide img {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

@keyframes scroll2 {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(calc(-250px * 20));
  }
}

.slider2 {
  height: 200px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.slide-track2 {
  animation: scroll2 70s linear infinite;
  display: flex;
  align-items: center;
  width: calc(250px * 186);
}
.slide2 {
  height: 400px;
  width: 250px;
}
.slide2 img {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

/* Drop down for Services  */

.dropdown:hover .dropdown-menu {
  display: block;
}
@media (max-width: 600px) {
  .slide2 {
    height: 400px;
    width: 175px;
  }
  .slide {
    width: 200px;
  }
}

li .active {
  color: #323875;
  font-weight: 600;
}
